# RewriteEngine on
# RewriteBase /
# DirectoryIndex index.html

# # RewriteRule - index.html
# # Resuelvo como archivo .php las URL sin extensión
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_URI} !^(.+)\.([^/]+)$
# RewriteRule ^(.+)$ index.html [NC,L]


<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>